* {
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header {
    background-color: aliceblue;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 2% 0 0 0;
}

h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 4%;
}

body {
    width: 100vw;
    margin: 0;
    height: 100vh;
    background: url(./images/mesh-gradient.png) center / cover no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: auto;
    margin: 2% 5% 0 5%;
    padding: 2%;
    border: 1px solid  rgba(60, 58, 58, 0.2);
    background-color: rgba(60, 58, 58, 0.2);
    border-radius: 10%;
}

form {
    display: flex;
    width: 90%;
    margin: 5% 5% 0 5%;
    justify-content: space-around;
}

input:hover {
    width: auto;
    background-color: rgba(60, 58, 58, 0.2);
}

button, main_submit {
    background-color: tomato;
}

.itemsClass textarea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
    padding: 5px;
    border: 1px solid  rgba(60, 58, 58, 0.2);
    width: 90%;
    height: auto;
    border-radius: 10%;
}

.listObject {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.itemsClass:hover {
    background: rgba(242, 242, 242, .5);
}

.itemsClass:first-child {
    margin-top: 4%;
}

.itemsClass:last-child {
    margin-bottom: 4%;
}

#delete {
    display: flex;
    height: 20px;
    width: auto;
}

#delete:hover {
    size: 1rem;
}

#notes {
    display: flex;
    height: 40px;
    width: auto;
}

.noteItem {
    margin: 20px;
    border: 1px solid rgba(60, 58, 58, 0.2);
}

p {
    margin-left: 20px;
}

/* Media Queries */

@media screen and (min-width: 250px) and (max-width: 625px){
    #taskForm {
        flex-direction: column;
    }
}

@media only screen and (min-width: 700px) {
    .container {
        width: 80%;
        margin: 2% auto 0 auto;
    }
}

@media only screen and (min-width: 100px) {
    .container {
        width: 60%;
        margin: 2% auto 0 auto;
    }
}